spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:ubuntu-db}:${DB_PORT:3306}/${DB_NAME:cariv_home}?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul
    username: ${DB_USER:cariv}
    password: ${DB_PASSWORD:cariv}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Seoul
        format_sql: false

logging:
  level:
    org.hibernate.SQL: warn
