<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한국중고자동차수출조합</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css" />
</head>
<body>

    <header class="header">
    <div class="container header-inner">
        <h1 class="logo">
            <a href="/">
                <img src='./img/logo.png' alt="한국중고자동차수출조합">
            </a>
          </h1>

        <nav class="gnb">
            <ul class="main-menu">
                <li class="depth-1">
                    <a href='./sub1-1.html'>조합 소개</a>
                    <ul class="depth-2">
                        <li><a href='./sub1-1.html'>인사말</a></li>
                        <li><a href='./sub1-2.html'>설립 목적 및 비전</a></li>
                        <li><a href='./sub1-3.html'>주요 연혁</a></li>
                    </ul>
                </li>

                <li class="depth-1">
                    <a href='./sub2-1.html'>사업 안내</a>
                    <ul class="depth-2">
                        <li><a href='./sub2-1.html'>주요 업무</a></li>
                        <li><a href='./sub2-2.html'>주요 사업</a></li>
                        <li><a href='./sub2-3.html'>협력업체</a></li>
                    </ul>
                </li>

                <li class="depth-1">
                    <a href='./sub3.html'>자료실</a>
                    <ul class="depth-2">
                        <li><a href='./sub3-1.html'>수출 통계</a></li>
                        <li><a href='./sub3-2.html'>통관 기준 및 안내</a></li>
                        <li><a href='./sub3-3.html'>법령 및 공문 모음</a></li>
                        <li><a href='./sub3-4.html'>양식 및 서식 모음</a></li>
                    </ul>
                </li>

                <li class="depth-1">
                    <a href='./sub4.html'>공지사항</a>
                    <ul class="depth-2">
                        <li><a href='./sub4-1.html'>언론 보도</a></li>
                        <li><a href='./sub4-2.html'>조합 공지</a></li>
                    </ul>
                </li>

                <li class="depth-1">
                    <a href='./sub5-1.html'>문의</a>
                    <ul class="depth-2">
                        <li><a href='./sub5-1.html'>문의하기</a></li>
                        <li><a href='./sub5-2.html'>후원하기</a></li>
                        <li><a href='./sub5-3.html'>오시는 길</a></li>
                    </ul>
                </li>
                <li class="depth-1">
                    <div class="lang-switch" data-lang-toggle role="button" tabindex="0" aria-label="언어 변경">
                        <img src='./img/en.png' alt="en">
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    
        <div id="google_translate_element" aria-hidden="true"></div>
    </header>
    <main class="main-content">

        <section class="sub-visual-section">
            <div class="visual-bg">
                <img src='./img/sub1img.png' alt="메인 배경">
                <div class="overlay2"></div>
            </div>
            <div class="container visual-text">
                <h3>한국 중고 자동차 수출 조합을 방문해주신 <br>
                여러분께 감사드립니다</h3>
            </div>
        </section>

        <section class="section main-section">
            <div class="container">
                <div class="sub-header">
                    <h1>인사말</h1>
                </div>
                <div class="sub-container">
                  <p>안녕하세요.<br>
제8대 사단법인 한국중고차수출조합 회장 박영화입니다.<br>
저희 한국중고차수출조합은 조합원 중심으로 운영되는 사단법인으로,<br>현재 전 세계 약 160여 개국에 연간 30만 대 이상의 중고차를 수출하고 있습니다.<br>각 국가별 특성에 맞는 글로벌 수출 경쟁력 확보와 현지화 전략을 기반으로,<br>국내 수출 인프라 구축은 물론 인적·물적·친환경적 경쟁력 강화를 위해 지속적으로 노력하고 있습니다.<br>
아울러 급변하는 시장 환경 속에서도 묵묵히 현장을 누비며 최전선에서 힘써 주시는<br>모든 조합원 여러분께 깊은 감사의 말씀을 드립니다.<br><br>
수출조합은 조합원 여러분의 뜻을 소중히 받들어,복합물류단지 조성, 원스톱(One-Stop) 시스템 도입, 친환경 물류체계 구축을 목표로<br>조합원과 함께 한 걸음씩 나아가고 있습니다.<br>
이를 통해 보다 발전된 수출 환경의 기반을 마련하고,<br>중고차 수출의 극대화를 이루어 조합원과 종사자 여러분의 자부심을 높이며<br>국가 수출 산업 발전에도 기여하는 든든한 한 축이 되겠습니다.<br><br>
저희 조합은 언제나 열린 자세와 낮은 문턱으로<br>조합원 및 관련 종사자 여러분의 방문을 환영하며,<br>다양한 조언과 의견에 귀 기울일 것을 약속드립니다.<br><br>
조합원의 적극적인 참여와 격려 속에서<br>지속적으로 성장하고 발전하는 조합의 모습을 보여드리겠습니다.<br>
또한 임기 동안 친환경 복합물류단지 조성,<br>고부가가치 시스템 도입, 조합 재정의 자립 기반 확립,<br>그리고 신규 해외 시장 개척을 통해<br>조합원 여러분의 노고를 덜어드리고,<br>더 나은 환경 속에서 함께 성장하는 조합을 만들어 가겠습니다.<br><br>감사합니다.</p>
                  </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-info">
            <h1>사단법인 한국중고자동차수출조합</h1>
              <p>
                TEL: 032-891-7070 &nbsp;|&nbsp; FAX: 032-891-7073<br>
                © kucea.co.kr All Right Reserved.
              </p>
        </div>
    </footer>
        <script src="/js/lang-toggle.js"></script>
</body>
</html>