<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Korea Used Car Export Association</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css" />
</head>
<body>

    <header class="header">
    <div class="container header-inner">
        <h1 class="logo">
            <a href="/en/index.html">
                <img src='/img/logo.png' alt="Korea Used Car Export Association">
            </a>
          </h1>

        <nav class="gnb">
            <ul class="main-menu">
                <li class="depth-1">
                    <a href='/en/sub1-1.html'>About Us</a>
                    <ul class="depth-2">
                        <li><a href='/en/sub1-1.html'>Greeting</a></li>
                        <li><a href='/en/sub1-2.html'>Mission & Vision</a></li>
                        <li><a href='/en/sub1-3.html'>History</a></li>
                    </ul>
                </li>

                <li class="depth-1">
                    <a href='/en/sub2-1.html'>Business</a>
                    <ul class="depth-2">
                        <li><a href='/en/sub2-1.html'>Key Tasks</a></li>
                        <li><a href='/en/sub2-2.html'>Key Projects</a></li>
                        <li><a href='/en/sub2-3.html'>Partners</a></li>
                    </ul>
                </li>

                <li class="depth-1">
                    <a href='/en/sub3.html'>Resources</a>
                    <ul class="depth-2">
                        <li><a href='/en/sub3-1.html'>Export Statistics</a></li>
                        <li><a href='/en/sub3-2.html'>Customs Standards & Guide</a></li>
                        <li><a href='/en/sub3-3.html'>Laws & Notices</a></li>
                        <li><a href='/en/sub3-4.html'>Forms & Templates</a></li>
                    </ul>
                </li>

                <li class="depth-1">
                    <a href='/en/sub4.html'>Notices</a>
                    <ul class="depth-2">
                        <li><a href='/en/sub4-1.html'>Press</a></li>
                        <li><a href='/en/sub4-2.html'>Union Notices</a></li>
                    </ul>
                </li>

                <li class="depth-1">
                    <a href='/en/sub5-1.html'>Contact</a>
                    <ul class="depth-2">
                        <li><a href='/en/sub5-1.html'>Inquiry</a></li>
                        <li><a href='/en/sub5-2.html'>Sponsorship</a></li>
                        <li><a href='/en/sub5-3.html'>Directions</a></li>
                    </ul>
                </li>
                <li class="depth-1">
                    <a class="lang-switch" href="/sub1-3.html" aria-label="View in Korean">
                        <img src='/img/en.png' alt="en">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    
            </header>
    <main class="main-content">

        <section class="sub-visual-section">
            <div class="visual-bg">
                <img src='/img/sub1img.png' alt="Main background">
                <div class="overlay2"></div>
            </div>
            <div class="container visual-text">
                <h3>Our History</h3>
            </div>
        </section>

        <section class="section main-section">
            <div class="container">
                <div class="sub-header">
                    <h1>History</h1>
                </div>
                <div class="sub-container">
                  <div class="time-item"> 
                    <div class="year">
                      <div class="bullet"> </div>
                      <h2>2019</h2>
                    </div>
                    <div class="time-info">
                      <h4>9th President, Sewon Trading – Park Younghwa</h4>
                    </div>
                  </div>
                  <div class="time-item"> 
                    <div class="year">
                      <div class="bullet"> </div>
                      <h2>2016</h2>
                    </div>
                    <div class="time-info">
                      <h4>8th President, Sewon Trading – Park Younghwa</h4>
                    </div>
                  </div>
                  <div class="time-item"> 
                    <div class="year">
                      <div class="bullet"> </div>
                      <h2>2014</h2>
                    </div>
                    <div class="time-info">
                      <h4>7th President, Cheonil ITC Co., Ltd. – Yoon Doojin</h4>
                    </div>
                  </div>
                  <div class="time-item"> 
                    <div class="year">
                      <div class="bullet"> </div>
                      <h2>2012</h2>
                    </div>
                    <div class="time-info">
                      <h4>6th President, Encar Trading Co., Ltd. – Kim Kyung-ryeol</h4>
                    </div>
                  </div>
                  <div class="time-item"> 
                    <div class="year">
                      <div class="bullet"> </div>
                      <h2>2010</h2>
                    </div>
                    <div class="time-info">
                      <h4>5th President, Sekyung Auto Co., Ltd. – Kim Taehyun</h4>
                    </div>
                  </div>
                  <div class="time-item"> 
                    <div class="year">
                      <div class="bullet"> </div>
                      <h2>2008</h2>
                    </div>
                    <div class="time-info">
                      <h4>4th President, Hanseong Enterprise – Kim Hyung-gyu</h4>
                    </div>
                  </div>
                  <div class="time-item"> 
                    <div class="year">
                      <div class="bullet"> </div>
                      <h2>2006</h2>
                    </div>
                    <div class="time-info">
                      <h4>3rd President, River Trading Co., Ltd. – Kim Myung-hwan</h4>
                    </div>
                  </div>
                  <div class="time-item"> 
                    <div class="year">
                      <div class="bullet"> </div>
                      <h2>2004</h2>
                    </div>
                    <div class="time-info">
                      <h4>2nd President, Gubo International Co., Ltd. – Ha Daejong</h4>
                      <p>12.17 Approved by the Ministry of Construction & Transportation for use of vehicle management data.</p>
                    </div>
                  </div>
                  <div class="time-item"> 
                    <div class="year">
                      <div class="bullet"> </div>
                      <h2>2001</h2>
                    </div>
                    <div class="time-info">
                      <h4>1st President, Sungjin With One Co., Ltd. – Lee Young-ryeol</h4>
                      <p>10.23 Approved for establishment by the Ministry of Commerce, Industry and Energy.<br>11.08 Association established.</p>
                    </div>
                  </div>

                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-info">
            <h1>Korea Used Car Export Association</h1>
              <p>
                TEL: 032-891-7070 &nbsp;|&nbsp; FAX: 032-891-7073<br>
                © kucea.co.kr All Right Reserved.
              </p>
        </div>
    </footer>
    </body>
</html>
