<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Korea Used Car Export Association</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css" />
</head>
<body>

    <header class="header">
    <div class="container header-inner">
        <h1 class="logo">
            <a href="/en/index.html">
                <img src='/img/logo.png' alt="Korea Used Car Export Association">
            </a>
          </h1>

        <nav class="gnb">
            <ul class="main-menu">
                <li class="depth-1">
                    <a href='/en/sub1-1.html'>About Us</a>
                    <ul class="depth-2">
                        <li><a href='/en/sub1-1.html'>Greeting</a></li>
                        <li><a href='/en/sub1-2.html'>Mission & Vision</a></li>
                        <li><a href='/en/sub1-3.html'>History</a></li>
                    </ul>
                </li>

                <li class="depth-1">
                    <a href='/en/sub2-1.html'>Business</a>
                    <ul class="depth-2">
                        <li><a href='/en/sub2-1.html'>Key Tasks</a></li>
                        <li><a href='/en/sub2-2.html'>Key Projects</a></li>
                        <li><a href='/en/sub2-3.html'>Partners</a></li>
                    </ul>
                </li>

                <li class="depth-1">
                    <a href='/en/sub3.html'>Resources</a>
                    <ul class="depth-2">
                        <li><a href='/en/sub3-1.html'>Export Statistics</a></li>
                        <li><a href='/en/sub3-2.html'>Customs Standards & Guide</a></li>
                        <li><a href='/en/sub3-3.html'>Laws & Notices</a></li>
                        <li><a href='/en/sub3-4.html'>Forms & Templates</a></li>
                    </ul>
                </li>

                <li class="depth-1">
                    <a href='/en/sub4.html'>Notices</a>
                    <ul class="depth-2">
                        <li><a href='/en/sub4-1.html'>Press</a></li>
                        <li><a href='/en/sub4-2.html'>Union Notices</a></li>
                    </ul>
                </li>

                <li class="depth-1">
                    <a href='/en/sub5-1.html'>Contact</a>
                    <ul class="depth-2">
                        <li><a href='/en/sub5-1.html'>Inquiry</a></li>
                        <li><a href='/en/sub5-2.html'>Sponsorship</a></li>
                        <li><a href='/en/sub5-3.html'>Directions</a></li>
                    </ul>
                </li>
                <li class="depth-1">
                    <a class="lang-switch" href="/sub5-3.html" aria-label="View in Korean">
                        <img src='/img/en.png' alt="en">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
            </header>
    <main class="main-content">

        <section class="section main-section">
            <div class="container">
                <div class="sub-header">
                    <h1>Directions</h1>
                </div>
                <div class="sub-container">
                    <div class="map-section">
                        <img src='/img/map.png' alt="Map">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-info">
            <h1>Korea Used Car Export Association</h1>
              <p>
                TEL: 032-891-7070 &nbsp;|&nbsp; FAX: 032-891-7073 &nbsp;|&nbsp; Email: kucea7070@naver.com<br>
                © kucea.co.kr All Right Reserved.
              </p>
        </div>
    </footer>
    </body>
</html>